@charset "UTF-8";
/* Estilo Para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(151, 150, 150);
}

header h1 {
    text-align: center;
    text-decoration: underline;
}

menu li {
    background-color: darkcyan;
    display: inline-block;
    padding: 10px;
    color: white;
}

menu ul {
    list-style-type: none;
    background-color: grey;
}

article {
    max-width: 600px;
    display: block;
    margin: auto;
    text-align: justify;
}