@charset "UTF-8";

/* Versão para todas as telas */

/* Typical Device Breakpoints 
-------------------------------
Pequenas Telas: até 600px;
Celular comun: de 600px até 768px;
Tablets: de 768 até 992px;
Desktop: de 992px até 1200px;
Telas Grandes: acima de 1200px;
*/
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecessário tendo em vista que não saem imagens de background na impressão */
    }

    main h2::before {
        content: 'Está é a versão de Impressão!';
        text-decoration: underline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi realizada atravé so site do Matheus Diedrichs https://github.com/MatheusDDChs';
        text-decoration: overline;
    }

    main {
        border: 5px solid black;
    }

    img#phone {
        display: none;
    }
    img#tablet {
        display: none;
    }
    img#print {
        display: block;
    }
    img#pc {
        display: none;
    }
    img#tv {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablets */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    main h2::before {
        content: 'Esta é a versão de Tablet';
        text-align: center;
        text-decoration: underline;
    }

    img#phone {
        display: none;
    }
    img#tablet {
        display: block;
    }
    img#print {
        display: none;
    }
    img#pc {
        display: none;
    }
    img#tv {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktops */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main h2:before {
        content: 'Esta é a versão de Deskotp';
        font-weight: bold;
        font-style: oblique;
    }

    img#phone {
        display: none;
    }
    img#tablet {
        display: none;
    }
    img#print {
        display: none;
    }
    img#pc {
        display: block;
    }
    img#tv {
        display: none;
    }
}

@media screen and (min-width: 1200px) { /* Telas Grandes */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main h2::before {
        content: 'Esta é a versão para TV.';
        text-decoration: underline;
    }

    img#phone {
        display: none;
    }
    img#tablet {
        display: none;
    }
    img#print {
        display: none;
    }
    img#pc {
        display: none;
    }
    img#tv {
        display: block;
    }
}