@charset "UTF-8";

/* Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
     padding: 0px;
     margin: 0px;
    box-sizing: border-box;
}

html { 
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(250, 235, 215, 0.671);
    width: 80vw;
    margin: 20px auto 0px auto;
    border-radius: 15px;
    padding: 10px;
}

h2::before {
    content: 'Esta é a versão de Celular';
    font-weight: bold;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: 2em;
    text-shadow: 1px 1px 3px black;
}

img {
    display: block;
    margin: auto;
}

img#phone {
    display: block;
}
img#tablet {
    display: none;
}
img#print {
    display: none;
}
img#pc {
    display: none;
}
img#tv {
    display: none;
}