@charset "UTF-8";



:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


body {
    margin: 0px;
}

header {
    text-align: center;
    color: white;
    align-items: center;

    padding: 0px;
    
    background-color: black;
}

header h1 {
    margin: 0px;
    font-family: 'Passion One', sans-serif;
    font-size: 10vw;
    font-variant: small-caps;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


header a:hover{
    text-decoration: underline;
}

header p {
    font-size: 1.3em;
    padding-bottom: 50px;
}

main section.normal{
    font-family: var(--fonte3);
    font-size: 3em;
    margin-left: 30px;
}

main section.imagem {
    font-family: var(--fonte3);
    font-size: 3em;
    margin-left: 30px;

    padding: 10px;
    color: white;
    background-size: cover;
    position: static;
    margin: 0px;
    background-attachment: fixed;
}

main section#fundo-joaninha > p{
    background-color: rgba(0, 0, 0, 0.315);
    display: inline-block;
    color: white;
    padding: 15px;
    position: relative;
}

main section.imagem#img-01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}