@charset "UTF-8";

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}


/* CABEÇALHO */

header {
    text-align: center;

    align-items: center;
    padding: 0px;

    color: white;
    background-color: black;
}

header h1 {
    margin: 0px;
    
    font-family: 'Passion One', sans-serif;
    font-size: 10vw;
    font-variant: small-caps;
}


header a:hover{
    text-decoration: underline;
}

header p {
    font-size: 1.3em;
    padding-bottom: 50px;
}


/* CONTEUDO PRINCIPAL */

main section{
    font-size: 3em;
    margin: 0px 0px 10vh 30px;
    line-height: 2em;
}

main section pre{
    line-height: 2em;
    font-family: var(--fonte3);

    white-space: pre-line;
}

main section.imagem {
    margin: 0px;
    height: 100vh;

    background: black right center/cover no-repeat fixed;
    position: static;
    
    color: white;
    box-shadow: inset 0px 7px 5px rgba(0, 0, 0, 0.37);
}

main section.imagem pre{
    display: inline-block;
    padding: 15px 15px 15px 15px;
    margin: 40px 0px 40px 30px;

    position: relative;

    background-color: rgba(0, 0, 0, 0.363);
    color: white;
}

main section.imagem#img-01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

main section.imagem#img-02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}


/* RODAPÉ */

footer {
    text-align: center;
    font-size: 2.5vh;

    padding: 5px;

    color: white;
    background-color: black;
}
footer p {
    margin: 0px;
}

footer a:hover {
    text-decoration: underline;
}